
body {
    /* background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%; */
    background: url('images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color:#000000;
    text-decoration: none;
    display:inline;
    margin-right: 30px;
}
img{
  display: block;
  margin-right: auto;
}

h1 {
 display: flex;
 justify-content: center;
 font-family:Georgia, 'Times New Roman', Times, serif;
 text-shadow: 8px 7px 30px rgba(0, 0, 0, 0.63);
}

#logo {
    height: 40px;
    width: auto;
    margin-left: 30px;
    margin-top: 20px;    
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
  }

  .card {
    padding: 2%;
    background-color: #e7ecf1;
    display:block;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 5%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    opacity: 0.2;
    z-index: 10;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: 1.0;
    z-index: 10;
  }


  .cardCert {
    display: flex;
    width: 50%;
    background-color: #e7ecf1;
    align-items: center;
    margin-right: 5%;
    padding: 1%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left:  25%;
    opacity: 0.2;
    z-index: 10;
    text-align: center;
  }

  .cardCert:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    opacity: 1.0;
    z-index: 10;
  }

  .containerCert{
    padding: 2px 16px;
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-start;
    align-content: center;
  }

  .container {
    padding: 2px 16px;
  }
  .animated-border-quote {
  display: flex;
  margin-top: 20%;
  overflow: hidden;
  margin-left: 50%;
  font-size: x-large;
  }
  .animated-border-quote blockquote {
    background-color: #f0f5f9;
    border: solid 2px #000000;
    display: inline-block;
    margin: 0;
    padding: 2em;
    position: relative;
  }
  .animated-border-quote blockquote:before {
    animation: clockwise 30s infinite linear;
    background-color: #e7ecf1;
    bottom: 10%;
    content: "";
    left: 0;
    /* opacity: 0.5; */
    position: absolute;
    right: 0;
    top: 10%;
  }
  .animated-border-quote blockquote:after {
    animation: counter 30s infinite linear;
    background-color: #e7ecf1;
    bottom: 10%;
    content: "";
    left: 0;
    /* opacity: 0.5; */
    position: absolute;
    right: 0;
    top: 10%;
  }
  .animated-border-quote blockquote cite {
    display: block;
    font-style: italic;
    text-align: right;
    font-size: xx-large;
  }
  .animated-border-quote blockquote cite:before {
    content: "- ";
  }
  .animated-border-quote blockquote > * {
    position: relative;
    z-index: 1;
  }
  
  @keyframes clockwise {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes counter {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  .fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  height: 30%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  text-shadow: 2px 2px 15px rgba(0,0,0,0.79);
  }
  
  .fa:hover {
    opacity: 0.3;
  }

  .button:hover {
    opacity: 0.3;
  }

  
@media only screen and (max-width: 500px) {
    body {
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100%;
  
    }
    .animated-border-quote{
        flex-wrap: wrap;
        justify-self: flex-start;
        margin-left: 0%;
        text-align: left;
    }
    .container {
        text-align:center;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .cardCert {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 5%;
    }
    header {
      position: relative;
      display: inline;
      text-align: center;
    }
    #logo {
      align-self:center;
      margin-left: auto;
    }
}
    
   
